<form action="{% url 'carts:set_address' %}" method="POST" id="Address_form_{{ ship_bill }}"
      class="form-group">
    <input type="hidden" name="next" value=""> {# ToDo: set next #}
    <input type="hidden" name="address_type"
           value="{{ ship_bill }}">
    {% csrf_token %}
    <div>
        {{ form.address_1.label_tag }}
        {{ form.address_1 }}
        {# ToDo: Error is not shownig #}
        <small>{{ form.address_1.error }}</small>
    </div>
    <br>
    <div>
        {{ form.address_2.label_tag }}
        {{ form.address_2 }}
        <small>{{ form.address_2.error }}</small>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-3">
            {{ form.country.label_tag }}
            {{ form.country }}
            <small>{{ form.country.error }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.city.label_tag }}
            {{ form.city }}
            <small>{{ form.city.error }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.state.label_tag }}
            {{ form.state }}
            <small>{{ form.state.error }}</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
            <small>{{ form.phone_number.error }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.postal_code.label_tag }}
            {{ form.postal_code }}
            <small>{{ form.phone_number.error }}</small>
        </div>
    </div>
    <br>
</form>
<form action="{% url 'address:list' %}" method="GET" data-type="{{ ship_bill }}"
      id="address_list_{{ ship_bill }}" class="form_address_list">
    <input type="hidden" name="address_type" value="{{ ship_bill }}">
</form>

<input type="submit" value="Submit" class="btn btn-success" form="Address_form_{{ ship_bill }}">
<input type="submit" value="Available addresses" class="btn btn-primary"
       form="address_list_{{ ship_bill }}">

<!-- Modal -->
<div class="modal fade" id="modal_{{ ship_bill }}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
