{% if messages %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for message in messages %}
                <div class="toast rounded-top shadow bg-body p-0" data-tags="{{ message.tags }}"
                     role="alert" aria-live="assertive"
                     aria-atomic="true" data-bs-autohide="false">
                    <div class="toast-header">
                        <p class="me-auto h5">Message</p>
                        <p class="text-info text-center h6">{{ request.user.full_name|default:'Guest' }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body rounded-bottom mb-auto text-white">
                        {{ message }}
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endif %}