{% url 'home' as home_url %}
{% url 'products:list' as products_url %}
{% url 'carts:home' as carts_url %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">eCommerce</a>
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item link-danger">
                        <a class="nav-link
                        {% if request.path == home_url %}active{% endif %}"
                           aria-current="page" href="{{ home_url }}"

                        >Home</a>
                    </li><!-- Home -->
                    {% if request.user.is_authenticated %}
                        <li class="nav-item link-danger">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'accounts:logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item link-danger">
                            <a class="nav-link" aria-current="page"
                               href="{% url 'accounts:login' %}">Login</a>
                        </li>
                    {% endif %}<!-- Login -->
                    <li class="nav-item link-danger">
                        <a class="nav-link
                        {% if request.path == products_url %}active{% endif %}"
                           href="{{ products_url }}">Products</a>
                    </li><!-- Products -->
                    <li>
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li><!-- Admin -->
                    <li class="nav-item link-danger">
                        <a class=" nav-link position-relative
                        {% if request.path == carts_url %}active{% endif %}"
                           href="{{ carts_url }}">Cart
                            {% with request.session.cart_items as cart_count %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success
                                cart_items" {% if not cart_count %}hidden{% endif %}>
                                    {{ cart_count }}
                                </span>
                            {% endwith %}

                        </a>
                    </li><!-- Cart -->{# ToDo: font-awesome #}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form action="{% url 'search' %}" method="GET"
                      class="d-flex" id="form-search" data-ajax-url="{% url 'search_ajax' %}">
                    <input class="form-control me-2" type="search"
                           placeholder="Search" aria-label="Search"
                           name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success" id="srch-btn" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>
</div>
<br>