{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block content %}
    <form action="{% url 'accounts:contact' %}" method="POST"
          class="col-6 col-md-6 offset-3 text-center"
          id="form-contact">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" class="btn btn-dark" id="form-submit">
    </form>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}