{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock title %}


{% block content %}
    <h3>{{ product.name|title }}</h3>
    <div class="container">
        <p>{{ product.timestamp|timesince }} ago</p>
        <div class="col-12 col-md-3">
            <img src="{{ product.image.url }}" alt="{{ product.name }} logo"
                 class="rounded img-fluid">
        </div>
        <h5>Information:</h5>
        <ul>
            <li>Price: ${{ product.price }}</li>
            <li>is_featured: {{ product.is_featured }}</li>
            <li>Description: {{ product.description|linebreaks }}</li>
        </ul>
        {% if in_cart %}
            {% include 'carts/snippets/remove_product_form.html' with product=product is_add=True %}
        {% else %}
            {% include 'carts/snippets/add_product_form.html' with product=product %}
        {% endif %}
    </div>
{% endblock %}