{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock title %}


{% block content %}
    <div class="container">
        <h3>{{ product.title|title }}</h3>
        <p>{{ product.timestamp|timesince }} ago</p>
        <img src="{{ product.image.url }}" alt="{{ product.title }} logo">
        <ul>
            <li>Price: ${{ product.price }}</li>
            <li>is_featured: {{ product.is_featured }}</li>
            <li>is_active: {{ product.is_active }}</li>
            <li>Description: {{ product.description|linebreaks }}</li>
        </ul>
    </div>
{% endblock %}