{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <form action="{% url 'accounts:login' %}" method="POST"
          class="col-12 col-md-4 offset-4 text-center">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            <small class="mt-0">{{ form.email.errors }}</small>
        </p>
        <p>
            {{ form.password.label_tag }}
            {{ form.password }}
            <small>{{ form.password.error_messages }}</small>
        </p>
        <input type="submit" class="btn btn-info col-12 col-md-4" value="Login">
    </form>
{% endblock %}