<!-- Optional: None -->
<!-- Required: form -->
<form action="{% url 'address:set_address' %}" method="POST"
      id="address_form" class="form-group">
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    <input type="hidden" name="address_type" value="{{ address_type }}">
    {% csrf_token %}
    <small>{{ form.user.errors }}</small>
    <div>
        {{ form.address_1.label_tag }}
        {{ form.address_1 }}
        {# ToDo: Error is not shownig #}
        <small>{{ form.address_1.errors }}</small>
    </div>
    <br>
    <div>
        {{ form.address_2.label_tag }}
        {{ form.address_2 }}
        <small>{{ form.address_2.errors }}</small>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-3">
            {{ form.country.label_tag }}
            {{ form.country }}
            <small>{{ form.country.errors }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.city.label_tag }}
            {{ form.city }}
            <small>{{ form.city.errors }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.state.label_tag }}
            {{ form.state }}
            <small>{{ form.state.errors }}</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-md-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
            <small>{{ form.phone_number.errors }}</small>
        </div>
        <div class="col-12 col-md-3">
            {{ form.postal_code.label_tag }}
            {{ form.postal_code }}
            <small>{{ form.phone_number.errors }}</small>
        </div>
    </div>
    <input type="hidden" name="address_id" value="{{ address_id }}">
    <br>
</form>



