{% extends 'base.html' %}

{% block title %}All products{% endblock title %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col">
                {% with product as instance %}
                    <div class="card" style="width: 18rem;">
                        {% if instance.image %}
                            <a href="{{ instance.get_absolute_url }}">
                                <img src="{{ instance.image.url }}" class="card-img-top" alt="image">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ instance.title }}</h5>
                            <p class="card-text">{{ instance.description|truncatechars:20 }}</p>
                            <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
                            <div class="container bg-light">
                                {% for tag in instance.tagged_items.tag.all %}
                                    <span>{{ tag.name }}</span>
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endwith %}
                </div>
            {% empty %}
                <p>We don't have any product</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}