{% extends 'base.html' %}

{% block title %}Checkout{% endblock title %}

{% block content %}

    <h4>In cart</h4>
    <div class="container">
        {% for pr in cart.products.all %}
            <p>Product {{ forloop.counter }}: <a href="{{ pr.get_absolute_url }}">{{ pr.name }}</a></p>
        {% endfor %}
    </div>

    <p>Order id: <a href="{{ order.get_absolute_url }}">{{ order.order_id }}</a></p>
    <p>Subtotal: {{ cart.subtotal }}</p>
    <p>Total: {{ order.total }}</p>


    <p>
        <a href="{% url 'address:set_address' %}?type=shipping&next={{ request.path }}"
           class="btn btn-info">Change shipping address
        </a>
        <small>{% if cart.is_all_digital %}(Optional){% endif %}</small>
    </p>
    <p><a href="{% url 'address:set_address' %}?type=billing&next={{ request.path }}"
          class="btn btn-info">Change billing address</a></p>

    {% if order.check_done %}
        <a href="{% url 'carts:payment' %}" class="btn btn-success">Payment page</a>
    {% else %}
        <h5 class="text-danger border-start border-3  border-danger">You are not done yet.</h5>
    {% endif %}
{% endblock content %}