{% extends 'base.html' %}
{% load static %}

{% block title %}All products{% endblock title %}

{% block content %}
    {% url 'search' as search_url %}
    {% if request.GET.q and request.path == search_url %}
        <div class="container">
            You searched for '{{ request.GET.q }}'
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col">
                    {% include 'products/card.html' with product=product %}
                </div>
            {% empty %}
                <p>We don't have any product</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/form_rmv_add.js' %}"> </script>
{% endblock %}