{% if addresses %}
    <input type="hidden" id="finalization_url" value="{% url 'carts:finalization' %}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Address_1</th>
            <th scope="col" class="text-center">City</th>
            <th scope="col" class="text-right"></th>
        </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <th class="text-center" scope="row">{{ forloop.counter }}</th>
                <td class="text-center">{{ address.address_1 }}</td>
                <td class="text-center">{{ address.city }}</td>
                <td>
                    <form action="{% url 'address:use' %}" method="POST"
                          class="form_address_use" data-type="{{ ship_bill }}"
                          id="address_use_{{ forloop.counter0 }}">
                        {% csrf_token %}
                        <input type="hidden" name="address_id" value="{{ address.id }}">
                        <input type="hidden" name="address_type" value="{{ ship_bill }}">
                        <input type="submit" class="btn btn-info mr-0" value="Use">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ address.address_1|truncatechars:20 }}

{% else %}
    You didn't have any address
{% endif %}